.ventana-avatar{
    width: 80%;
    padding: 20px;
    background-color: #0097b2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria {
    width: 30%;
    display: block;
    margin-top: 15px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
    object-fit: cover;
}

.image-light{
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex; /* Cambiar a flex para centrar vertical y horizontalmente */
    justify-content: center;
    align-items: center;
    transition: transform .2s ease-in-out;
    transform: translate(100%); /* Cambiar translate a translateX */
    /**overflow: hidden; /* Añadir overflow para que la imagen pueda expandirse */
}

.agregar-imagen{
    object-fit: cover;
    width: 20%;
    /**object-fit: contain; /* Cambiar a contain para que la imagen se ajuste en el contenedor */
    /**max-width: 100%; /* Añadir para asegurarse de que la imagen no se desborde */
    /**max-height: 100%; /* Añadir para asegurarse de que la imagen no se desborde */
    border-radius: 10px;
    transform: scale(1);
    transition: transform .3s .2s;
}

.close{
    position: absolute;
    top: 5px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/*

.showImage {
    transform: scale(1);
}
*/
.show{
    transform: translate(0);
}